In [16]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [17]:
# reading data from .csv file
data=pd.read_csv("Car_Purchasing_Data.csv",encoding = "ISO-8859-1")

In [18]:
data.head(10)

     Customer Name  ... Car Purchase Amount
0    Martina Avila  ...         35321.45877
1    Harlan Barnes  ...         45115.52566
2  Naomi Rodriquez  ...         42925.70921
3  Jade Cunningham  ...         67422.36313
4     Cedric Leach  ...         55915.46248
5     Carla Hester  ...         56611.99784
6   Griffin Rivera  ...         28925.70549
7       Orli Casey  ...         47434.98265
8     Marny Obrien  ...         48013.61410
9    Rhonda Chavez  ...         38189.50601

[10 rows x 9 columns]

In [19]:
# selecting the relevant features
val=['Age','Annual Salary','Credit Card Debt','Net Worth']

In [20]:
X=data[val]
y=data.iloc[:,-1]

In [21]:
# splitting into train and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

## Linear Regression Model

In [22]:
from sklearn.linear_model import LinearRegression

In [23]:
model=LinearRegression()

In [24]:
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [25]:
model.coef_,model.intercept_

(array([ 8.41566827e+02,  5.62334550e-01, -2.78836647e-05,  2.89836665e-02]),
 -42147.42593984799)

In [26]:
# values predicted by the model for X_test data
model.predict(X_test[:5])

array([46084.47837178, 45060.50747378, 63081.6975224 , 31838.18108863,
       60460.98796456])

In [27]:
# actual values from y_test
y_test[:5]

361    46082.80993
73     45058.89690
374    63079.84329
155    31837.22537
104    60461.24268
Name: Car Purchase Amount, dtype: float64

In [28]:
# accuracy of the model
model.score(X_test,y_test)

0.99999998026976